*.moved-aside
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcscmblueprint
*.xcuserstate
*.xcscheme
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Xcode specific files and directories
*.xcworkspace
*.xcuserdatad
*.xcuserdata
DerivedData/
build/
*.app
*.ipa
*.xcarchive

# Apple Developer and signing-related files
*.cer
*.mobileprovision
*.p12
ConfigOverride.xcconfig

# Swift Package Manager
.build/

# CocoaPods
# Pods/

# Carthage
Carthage/Build

# IDEA project files
.idea/*

# macOS
.DS_Store

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/FastlaneRunner

ConfigOverride.xcconfig

branch.txt
package-lock.json
node_modules
oref0
